@font-face {
   font-family: '方正清刻本悦宋简体';
   font-display: swap;
   src: url('file:///C:/Users/zep19/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-09-29_141842/fonts/%E6%96%B9%E6%AD%A3%E6%B8%85%E5%88%BB%E6%9C%AC%E6%82%A6%E5%AE%8B%E7%AE%80%E4%BD%93/font.TTF');
}
