@font-face {
   font-family: 'WeiRuanYaHei-1';
   font-display: swap;
   src: url('file:///C:/Users/zep19/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-09-29_141842/fonts/WeiRuanYaHei-1/font.ttf');
}
